# Скопируйте в .env и при необходимости измените значения

BOT_TOKEN=8458961945:AAGhAvZluGArvkVswIAZ58-u-6GSFcKEr7M
SUPPORT_MANAGER_ID=7210745918
CHANNEL_ID=3821110723
CHANNEL_LINK=https://t.me/aihub_media
PALLY_API_TOKEN=25675|ZU3PAGAg64QFKYHz9MDTJIwpiEcLIHvjHkHWTRpx
PALLY_API_BASE=https://pal24.pro
PALLY_SHOP_ID=Y37jl3rmb6
WELCOME_IMAGE_URL=https://disk.yandex.ru/i/mnaLpzGaoAA52Q
# Группа «Уведомления» (3825757825): новый заказ автовыдача/на почту, пополнения
NOTIFY_GROUP_ID=-1003825757825
# Группа «Заказы» (3751778090): New order с данными клиента, запросы аккаунтов
ORDER_GROUP_ID=-1003751778090
